## 1. Import package & Dataset

- DataSource: The world Happiness Report : https://worldhappiness.report/

In [81]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [82]:
all_happiness_data = pd.read_csv("world-happiness-report-raw.csv")
all_happiness_data

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

## 2. Get data ready

- Clean Data

In [83]:
all_happiness_data.count()

Country name                        1949
year                                1949
Life Ladder                         1949
Log GDP per capita                  1913
Social support                      1936
Healthy life expectancy at birth    1894
Freedom to make life choices        1917
Generosity                          1860
Perceptions of corruption           1839
Positive affect                     1927
Negative affect                     1933
dtype: int64

### 2-1 Overview

- How Many Country Are there?

In [84]:
n = len(pd.unique(all_happiness_data['Country name']))
print("Number of unique Countries :", n)

Number of unique Countries : 166

- How Many Years Are there?

In [85]:
n = len(pd.unique(all_happiness_data['year']))
print("Number of unique year :", n)

Number of unique year : 16

- We have total of 1949 rows
- However 166(Countries) * 16(year) = 2656
- Means we have some missing years within some countries, let's identify them.

- Is the year for the countries align??

In [86]:
# sort dataset by country & year
all_happiness_data.sort_values(by=['Country name', 'year'])
all_happiness_data.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [87]:
all_happiness_data['year'].value_counts().sort_index()

2005     27
2006     89
2007    102
2008    110
2009    114
2010    124
2011    146
2012    142
2013    137
2014    145
2015    143
2016    142
2017    147
2018    142
2019    144
2020     95
Name: year, dtype: int64

- As most of the county have data from 2007 to 2020. I want to elimiate the data from 2005 & 2006

In [88]:
all_happiness_data = all_happiness_data[all_happiness_data['year'] > 2006]

In [89]:
# let's check
all_happiness_data['year'].value_counts().sort_index()

2007    102
2008    110
2009    114
2010    124
2011    146
2012    142
2013    137
2014    145
2015    143
2016    142
2017    147
2018    142
2019    144
2020     95
Name: year, dtype: int64

### 2-2 Deal with missing values

In [90]:
# Check the null count
print('Count of null values by column:')
all_happiness_data.isna().sum()

Count of null values by column:

Country name                          0
year                                  0
Life Ladder                           0
Log GDP per capita                   35
Social support                       13
Healthy life expectancy at birth     54
Freedom to make life choices         27
Generosity                           55
Perceptions of corruption           102
Positive affect                      21
Negative affect                      14
dtype: int64

### 2-2-1 Set up approach for each column to deal with missing values

- As all of our missing column is numerical, fill with the average within the country will be fair

In [91]:
mean_df = all_happiness_data.groupby('Country name', as_index = False).mean()

In [92]:
for index, row in all_happiness_data.iterrows():

        if(pd.isnull(row['Log GDP per capita'])):
            all_happiness_data.at[index , 'Log GDP per capita'] = mean_df.loc[mean_df['Country name'] == row['Country name']]['Log GDP per capita']
        if(pd.isnull(row['Social support'])):
            all_happiness_data.at[index , 'Social support'] = mean_df.loc[mean_df['Country name'] == row['Country name']]['Social support']
        if(pd.isnull(row['Healthy life expectancy at birth'])):
            all_happiness_data.at[index , 'Healthy life expectancy at birth'] = mean_df.loc[mean_df['Country name'] == row['Country name']]['Healthy life expectancy at birth']
        if(pd.isnull(row['Freedom to make life choices'])):    
            all_happiness_data.at[index , 'Freedom to make life choices'] = mean_df.loc[mean_df['Country name'] == row['Country name']]['Freedom to make life choices']
        if(pd.isnull(row['Generosity'])):    
            all_happiness_data.at[index , 'Generosity'] = mean_df.loc[mean_df['Country name'] == row['Country name']]['Generosity']
        if(pd.isnull(row['Perceptions of corruption'])):    
            all_happiness_data.at[index , 'Perceptions of corruption'] = mean_df.loc[mean_df['Country name'] == row['Country name']]['Perceptions of corruption']
        if(pd.isnull(row['Positive affect'])):    
            all_happiness_data.at[index , 'Positive affect'] = mean_df.loc[mean_df['Country name'] == row['Country name']]['Positive affect']
        if(pd.isnull(row['Negative affect'])):    
            all_happiness_data.at[index , 'Negative affect'] = mean_df.loc[mean_df['Country name'] == row['Country name']]['Negative affect']

In [93]:
# Check the null count
print('Count of null values by column:')
all_happiness_data.isna().sum()

Count of null values by column:

Country name                         0
year                                 0
Life Ladder                          0
Log GDP per capita                  18
Social support                       1
Healthy life expectancy at birth    35
Freedom to make life choices         0
Generosity                          18
Perceptions of corruption           26
Positive affect                      2
Negative affect                      1
dtype: int64

- There are still some missing data, and I will like to fill them with average of the column as I don't want to delet them to loss any more data

In [94]:
all_happiness_data.fillna(all_happiness_data.mean(), inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [95]:
# Check the null count
print('Count of null values by column:')
all_happiness_data.isna().sum()

Count of null values by column:

Country name                        0
year                                0
Life Ladder                         0
Log GDP per capita                  0
Social support                      0
Healthy life expectancy at birth    0
Freedom to make life choices        0
Generosity                          0
Perceptions of corruption           0
Positive affect                     0
Negative affect                     0
dtype: int64

### 2-3 Add Continent Column

- As I will also like to analysis countries based on Continent, I will like to add this column to the all_happiness_data
- Find country to continent on Kaggle: https://www.kaggle.com/statchaitya/country-to-continent

In [96]:
continent_data = pd.read_csv("countryContinent.csv",encoding='ISO-8859-1')
continent_data

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,ÃƒÂ…land Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

### 2-3-1 Clean continent_data as I only need country name & continent & sub_region

In [97]:
continent_data = continent_data[['country', 'continent', 'sub_region']]
continent_data.rename(columns={'country':'Country name'}, inplace=True)
continent_data

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

          Country name continent       sub_region
0          Afghanistan      Asia    Southern Asia
1       Ãƒ
land Islands    Europe  Northern Europe
2              Albania    Europe  Southern Europe
3              Algeria    Africa  Northern Africa
4       American Samoa   Oceania        Polynesia
..                 ...       ...              ...
244  Wallis and Futuna   Oceania        Polynesia
245     Western Sahara    Africa  Northern Africa
246              Yemen      Asia     Western Asia
247             Zambia    Africa   Eastern Africa
248           Zimbabwe    Africa   Eastern Africa

[249 rows x 3 columns]

### 2-3-2 Left join all_happiness_data & continent_data

In [98]:
all_happiness_data = pd.merge(all_happiness_data, continent_data, on="Country name", how='left')

In [99]:
all_happiness_data

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,continent,sub_region
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,Asia,Southern Asia
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,Asia,Southern Asia
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,Asia,Southern Asia
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,Asia,Southern Asia
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,Asia,Southern Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209,Africa,Eastern Africa
1829,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224,Africa,Eastern Africa
1830,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212,Africa,Eastern Africa
1831,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235,Africa,Eastern Africa
1832,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346,Africa,Eastern Africa

In [100]:
n = len(pd.unique(all_happiness_data['Country name']))
print("Number of unique Countries :", n)

Number of unique Countries : 165

In [101]:
# Check the null count
print('Count of null values by column:')
all_happiness_data.isna().sum()

Count of null values by column:

Country name                         0
year                                 0
Life Ladder                          0
Log GDP per capita                   0
Social support                       0
Healthy life expectancy at birth     0
Freedom to make life choices         0
Generosity                           0
Perceptions of corruption            0
Positive affect                      0
Negative affect                      0
continent                           60
sub_region                          60
dtype: int64

### 2-3-3 Check country with empty continent

In [102]:
all_happiness_data[all_happiness_data['continent'].isnull()]

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,continent,sub_region
402,Cyprus,2009,6.833,10.558000,0.812,72.160000,0.775000,0.054000,0.801000,0.746000,0.329,NaN,NaN
403,Cyprus,2010,6.387,10.551000,0.822,72.400000,0.755000,0.073000,0.833000,0.786000,0.296,NaN,NaN
404,Cyprus,2011,6.690,10.530000,0.844,72.540000,0.745000,0.180000,0.841000,0.763000,0.272,NaN,NaN
405,Cyprus,2012,6.181,10.479000,0.767,72.680000,0.725000,0.098000,0.871000,0.755000,0.369,NaN,NaN
406,Cyprus,2013,5.439,10.414000,0.744,72.820000,0.656000,0.102000,0.867000,0.748000,0.420,NaN,NaN
407,Cyprus,2014,5.627,10.406000,0.770,72.960000,0.715000,0.060000,0.868000,0.737000,0.397,NaN,NaN
408,Cyprus,2015,5.439,10.445000,0.770,73.100000,0.628000,0.114000,0.893000,0.747000,0.383,NaN,NaN
409,Cyprus,2016,5.795,10.506000,0.786,73.300000,0.756000,-0.030000,0.898000,0.742000,0.336,NaN,NaN
410,Cyprus,2017,6.062,10.539000,0.819,73.500000,0.812000,0.043000,0.851000,0.784000,0.301,NaN,NaN
411,Cyprus,2018,6.276,10.567000,0.826,73.700000,0.794000,-0.022000,0.848000,0.750000,0.298,NaN,NaN
412,Cyprus,2019,6.137,10.585000,0.776,73.900000,0.740000,-0.008000,0.865000,0.763000,0.290,NaN,NaN
413,Cyprus,2020,6.260,10.507273,0.806,74.100000,0.763000,0.060364,0.816000,0.759000,0.284,NaN,NaN
782,Ivory Coast,2009,4.197,8.209000,0.667,45.780000,0.760000,-0.153000,0.902000,0.604000,0.186,NaN,NaN
783,Ivory Coast,2013,3.739,8.274000,0.709,47.100000,0.739000,-0.031000,0.691000,0.743000,0.306,NaN,NaN
784,Ivory Coast,2014,3.570,8.334000,0.711,47.400000,0.781000,-0.080000,0.671000,0.647000,0.291,NaN,NaN
785,Ivory Coast,2015,4.445,8.393000,0.704,47.700000,0.800000,-0.053000,0.744000,0.664000,0.347,NaN,NaN
786,Ivory Coast,2016,4.543,8.437000,0.617,48.300000,0.769000,-0.043000,0.757000,0.704000,0.378,NaN,NaN
787,Ivory Coast,2017,5.038,8.483000,0.661,48.900000,0.732000,-0.111000,0.771000,0.698000,0.357,NaN,NaN
788,Ivory Coast,2018,5.268,8.523000,0.621,49.500000,0.713000,-0.050000,0.791000,0.682000,0.386,NaN,NaN
789,Ivory Coast,2019,5.392,8.564000,0.679,50.100000,0.736000,-0.017000,0.799000,0.674000,0.425,NaN,NaN
790,Ivory Coast,2020,5.257,8.565000,0.613,50.700000,0.770000,0.016000,0.777000,0.693000,0.340,NaN,NaN
852,Kosovo,2007,5.104,8.928000,0.848,63.488785,0.381000,0.144000,0.894000,0.655000,0.237,NaN,NaN
853,Kosovo,2008,5.522,8.981000,0.884,63.488785,0.648385,0.090000,0.849000,0.693538,0.318,NaN,NaN
854,Kosovo,2009,5.891,9.008000,0.830,63.488785,0.506000,0.201000,0.968000,0.598000,0.169,NaN,NaN
855,Kosovo,2010,5.177,9.033000,0.708,63.488785,0.451000,0.170000,0.967000,0.695000,0.118,NaN,NaN
856,Kosovo,2011,4.860,9.067000,0.759,63.488785,0.589000,0.004000,0.919000,0.696000,0.124,NaN,NaN
857,Kosovo,2012,5.640,9.086000,0.757,63.488785,0.636000,0.027000,0.950000,0.596000,0.100,NaN,NaN
858,Kosovo,2013,6.126,9.113000,0.721,63.488785,0.568000,0.115000,0.935000,0.692000,0.203,NaN,NaN
859,Kosovo,2014,5.000,9.129000,0.706,63.488785,0.441000,0.012000,0.775000,0.636000,0.206,NaN,NaN
860,Kosovo,2015,5.077,9.182000,0.805,63.488785,0.561000,0.181000,0.851000,0.753000,0.180,NaN,NaN
861,Kosovo,2016,5.759,9.228000,0.824,63.488785,0.827000,0.125000,0.941000,0.704000,0.150,NaN,NaN
862,Kosovo,2017,6.149,9.262000,0.792,63.488785,0.858000,0.117000,0.925000,0.738000,0.186,NaN,NaN
863,Kosovo,2018,6.392,9.296000,0.822,63.488785,0.890000,0.269000,0.922000,0.778000,0.170,NaN,NaN
864,Kosovo,2019,6.425,9.339000,0.843,63.488785,0.841000,0.247000,0.920000,0.749000,0.141,NaN,NaN
865,Kosovo,2020,6.294,9.127077,0.792,63.488785,0.880000,0.130923,0.910000,0.726000,0.201,NaN,NaN
890,Laos,2007,5.364,8.307000,0.790,54.440000,0.867000,0.478000,0.580000,0.861000,0.136,NaN,NaN
891,Laos,2008,5.044,8.366000,0.807,54.960000,0.886000,0.416000,0.637000,0.829000,0.202,NaN,NaN
892,Laos,2011,4.704,8.548000,0.691,56.300000,0.882000,0.459000,0.587000,0.900000,0.225,NaN,NaN
893,Laos,2012,4.876,8.611000,0.693,56.600000,0.893429,0.232000,0.628286,0.917000,0.387,NaN,NaN
894,Laos,2017,4.623,8.890000,0.707,58.300000,0.891000,0.073000,0.592000,0.873000,0.344,NaN,NaN
895,Laos,2018,4.859,8.935000,0.705,58.700000,0.907000,0.141000,0.634000,0.852000,0.332,NaN,NaN
896,Laos,2019,5.197,8.965000,0.729,59.100000,0.906000,0.061000,0.620000,0.878000,0.306,NaN,NaN
897,Laos,2020,5.284,8.960000,0.660,59.500000,0.915000,0.141000,0.748000,0.822000,0.358,NaN,NaN
1250,Palestinian Territories,2007,4.151,8.218000,0.712,61.897000,0.365000,-0.080000,0.844000,0.566000,0.412,NaN,NaN
1251,Palestinian Territories,2008,4.386,8.276000,0.666,62.015000,0.358000,-0.070000,0.753000,0.571000,0.403,NaN,NaN
1252,Palestinian Territories,2009,4.470,8.329000,0.738,62.132000,0.468000,-0.085000,0.797000,0.544000,0.466,NaN,NaN
1253,Palestinian Territories,2010,4.703,8.383000,0.822,62.250000,0.504000,-0.117000,0.752000,0.628000,0.381,NaN,NaN
1254,Palestinian Territories,2011,4.751,8.474000,0.751,62.073500,0.522000,-0.127000,0.750000,0.567000,0.388,NaN,NaN
1255,Palestinian Territories,2012,4.647,8.531000,0.782,62.073500,0.542000,-0.153000,0.730000,0.616000,0.379,NaN,NaN
1256,Palestinian Territories,2013,4.844,8.489000,0.761,62.073500,0.454000,-0.150000,0.780000,0.594000,0.365,NaN,NaN
1257,Palestinian Territories,2014,4.722,8.457000,0.775,62.073500,0.657000,-0.147000,0.804000,0.565000,0.380,NaN,NaN
1258,Palestinian Territories,2015,4.695,8.480000,0.766,62.073500,0.556000,-0.153000,0.774000,0.594000,0.369,NaN,NaN
1259,Palestinian Territories,2016,4.907,8.498000,0.818,62.073500,0.608000,-0.129000,0.812000,0.593000,0.378,NaN,NaN
1260,Palestinian Territories,2017,4.628,8.485000,0.824,62.073500,0.632000,-0.163000,0.831000,0.597000,0.416,NaN,NaN
1261,Palestinian Territories,2018,4.554,8.420000,0.819,62.073500,0.655000,-0.124909,0.814000,0.610000,0.419,NaN,NaN
1262,Palestinian Territories,2019,4.483,8.420000,0.833,62.073500,0.653000,-0.124909,0.829000,0.625000,0.400,NaN,NaN
1471,Somaliland region,2009,4.991,9.375267,0.880,63.488785,0.746000,0.000040,0.513000,0.819000,0.112,NaN,NaN
1472,Somaliland region,2010,4.657,9.375267,0.829,63.488785,0.820000,0.000040,0.471000,0.769000,0.083,NaN,NaN
1473,Somaliland region,2011,4.931,9.375267,0.788,63.488785,0.858000,0.000040,0.357000,0.749000,0.122,NaN,NaN
1474,Somaliland region,2012,5.057,9.375267,0.786,63.488785,0.758000,0.000040,0.334000,0.735000,0.152,NaN,NaN

## 3 Save csv

In [104]:
all_happiness_data.to_csv("world-happiness-report-new.csv", index=False)